.additional-goods {
  padding-top: 31px;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #111111;
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
