.all-items {
  padding: 25px 0;

  &::before {
    content: "";
    display: block;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    margin: 0 auto 24px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/icon-plus.svg");
      width: 60px;
      height: 60px;
      margin-bottom: -8px;
      margin-top: 26px;
    }
  }
}

.all-items__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  margin-bottom: -4px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 135px;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -4px;
    margin-bottom: 43px;
  }
}

.all-items__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 13px 29px 19px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin-top: -79px;
  }
}

.all-items__button {
  @media (min-width: @tablet-width) {
    padding: 12px 0;
  }
}
