.catalog-list__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ededed;
  width: 280px;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: column;
    width: 324px;
    padding-right: 34px;
    padding-left: 35px;
    padding-bottom: 40px;
    background-color: #ededed;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 138px;
    }
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      align-items: center;
      padding: 26px 25px 41px 30px;
      background-color: #ffffff;
      border: 1px solid #ededed;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      padding: 26px 25px 39px 7px;
    }
  }

  &:nth-last-child(2) {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-child,
  &:nth-last-child(2),
  &:nth-last-child(3),
  &:nth-last-child(4) {
    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}
