.catalog-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__all-items {
  display: flex;
}

@media (min-width: @tablet-width) {
  border: 1px solid #cdcdcd;
}
