.catalog-item__image-link {
  max-width: 50%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 208px;
    margin-top: -78px;
    min-width: 121%;
  }

  @media (min-width: @desktop-width) {
    margin-left: -23px;
  }
}

.catalog-item__image {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.catalog-item__description {
  width: 50%;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 35px;
  }
}

.catalog-item__name {
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
    text-align: center;
  }
}

.catalog-item__name-link {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 150px;
    font-size: 20px;
    text-align: center;
  }
}

.catalog-item__image-link,
.catalog-item__name-link,
.catalog-item__button {
  text-decoration: none;
}

.catalog-item__parameters {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 13px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog-item__parameters-row {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-item__option {
  word-break: break-word;
  text-align: left;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-top: 7px;
    padding-bottom: 8px;
  }
}

.catalog-item__value {
  word-break: break-word;
  text-align: right;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-top: 7px;
    padding-bottom: 8px;
  }
}

.catalog-item__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    padding: 12px 0;
  }
}
