.contact-data__wrapper {
  display: flex;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 553px;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 819px;
    }

    @media (min-width: @desktop-width) {
      top: 534px;
    }
  }
}

.contact-data__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #111111;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin: 27px 0 33px -21px;
  width: 182px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -11px;
    margin-top: 71px;
    margin-bottom: 39px;
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: -32px;
  }
}

.contact-data__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 34px;
    min-width: 100%;
  }
}

.contact-data__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    max-width: 100%;
    flex-basis: 100%;
    height: 50px;
    margin-bottom: 22px;
    margin-left: 19px;
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
    flex-basis: 48%;
    margin-left: 0;
  }

  &:not(:last-child) {
    @media (min-width: @desktop-width) {
      margin-right: 24px;
    }
  }

  &:last-child {
    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }
}

.contact-data__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-right: 11px;
  max-width: 50%;
  flex-shrink: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 50%;
    margin-right: 20px;
  }
}

.contact-data__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 1px solid rgba(205, 205, 205, 0.5);
  box-sizing: border-box;
  padding: 15px 7px;
  position: relative;
  width: 100%;

  &:hover,
  &:focus {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid #444444;
  }

  &:valid {
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  &:invalid {
    border: 1px solid #ff8282;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.contact-data__icon {
  position: absolute;

  &:active {
    fill: #68b738;
  }

  &--mail {
    width: 17px;
    height: 13px;
    right: 16px;
    top: 18px;

    @media (min-width: @tablet-width) {
      right: 18px;
      top: 20px;
    }

    @media (min-width: @desktop-width) {
      right: 20px;
    }
  }

  &--phone {
    width: 20px;
    height: 20px;
    right: 13px;
    top: 14px;

    @media (min-width: @tablet-width) {
      right: 14px;
      top: 16px;
    }

    @media (min-width: @desktop-width) {
      right: 19px;
    }
  }
}

.contact-data__input:invalid + .contact-data__icon {
  fill: #ff8282;
}
