.example {
  padding: 0;
  margin: 0;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.example__description {
  padding: 33px 34px 27px 20px;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
}
