.example {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    background-color: #ffffff;
    border-top: 1 px solid #e6e6e6;
  }
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  padding: 33px 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding: 51px 0;
  }
}

.example__description {
  padding: 33px 34px 27px 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
}
