.goods-item {
  border-top: 1px solid #ededed;
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    border: 1px solid #ededed;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    border-top: 1px solid #ededed;
  }
}

.goods-item:last-child {
  border-bottom: 1px solid #ededed;
}

.goods-item__name {
  width: 280px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #222222;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.goods-item__parameters {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.goods-item__option {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.goods-item__price {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

.goods-item__button {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 633px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
