.how-it-works {
  padding: 0;
  margin: 0;
}

.how-it-works__title {
  font-size: 36px;
  line-height: 60px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.how-it-works__item {
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-size: 26px 29px;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: 29px 31px;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-size: 23px 30px;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: 26px 31px;
  }
}

@media (min-width: @tablet-width) {
  .how-it-works__item::after {
    position: absolute;
    display: block;
    top: -40px;
    right: 20px;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    z-index: -1;
  }

  &--leaf::after {
    content: "1";
  }

  &--powder::after {
    content: "2";
  }

  &--dining::after {
    content: "3";
  }

  &--clock::after {
    content: "4";
  }
}

.how-it-works__description {
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
