.how-it-works {
  padding: 0;
  margin: 0;
}

.how-it-works__title {
  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-it-works__item {
  padding-left: 20px;
}
