@media (min-width: @tablet-width) {
  .item {
    content: "1";
    font-size: 281px;
  }

  .item--leaf {
    content: "1";
    font-size: 281px;
  }

  .item--water {
    content: "2";
    font-size: 281px;
  }

  .item--fork {
    content: "3";
    font-size: 281px;
  }

  .item--clock {
    content: "4";
    font-size: 281px;
  }
}
