.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__container {
  box-sizing: border-box;
  padding: 38px 20px 22px 20px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 30px 55px 30px;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 46px 40px 55px 40px;
  }
}

.page-footer__logo {
  text-decoration: none;
  text-align: center;
}

.page-footer__logo-footer {
  width: 128px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__social {
  margin-bottom: 21px;
  padding-top: 8px;
  padding-bottom: 9px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;


  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    margin-left: 0;
  }
}
