.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__social {
  margin-bottom: 21px;
}

.page-footer__copyright {
  margin-bottom: 22px;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.academy-logo {
  width: 27px;
  height: 34px;
  fill: #666666;
}

.academy-logo:hover,
.academy-logo:focus {
  fill: #68b738;
}

.academy-logo:active {
  opacity: 0.3;
}
