.page-form {
  position: relative;
}

.page-form__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-form__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
  color: #111111;
  margin: 13px 0 25px 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin: 53px 10px 55px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 68px 30px 55px 0;
  }
}

.page-form__text {
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin: 15px 20px 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
