.page-footer__wrapper {
  background-color: #f2f2f2;
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.page-footer__logo {
  width: 140px;
}

.page-footer__logo-image-cut {
  width: 128px;
  height: 24px;
  padding-bottom: 31px;
  margin: 0;
  text-decoration: none;
}

.page-footer__social {
  width: 140px;
  margin-bottom: 21px;
  margin-top: 24px;
}

.page-footer__copyright {
  display: flex;
  width: 170px;
  margin-bottom: 22px;
  margin-top: 31px;

  .copyright__text {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    width: 150px;
  }

  .academy-logo {
    width: 27px;
    height: 34px;
    fill: #666666;

    &:hover,
    &:focus {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
