.programm-item__logo::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  z-index: 0;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.programm-item--slim::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 49px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 141px;
    height: 194px;
    right: 62px;
    top: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 71px;
    height: 97px;
  }
}

.programm-item--pro::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  height: 28px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 113px;
    right: 28px;
    top: 91px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 57px;
  }
}

.programm-item__title {
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-align: left;
  text-transform: uppercase;
  margin-left: 10px;
}

.programm-item__description {
  text-align: left;
}

.programm-item__link-block {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.programm-item__link {
  text-decoration: none;
  color: #111111;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
