.promo-block {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 27px 20px 0 20px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    margin: 0 auto;
    background-color: #68b738;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: 320px 305px;
    background-repeat: no-repeat;
    background-position: top center;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: @tablet-width) {
  .promo-block {
    width: @tablet-width;
    padding: 38px 30px 0 20px;
    margin-bottom: 36px;
    min-height: 820px;

    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo-block {
    width: @desktop-width;
    padding: 102px 40px 61px 40px;
    margin-bottom: 22px;
    min-height: 470px;
  }
}

.promo-block__text-block {
  padding-left: 18px;

  @media (min-width: @tablet-width) {
    padding-left: 66px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 38px;
  }
}

.promo-block__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
    width: 427px;
  }
}

.promo-block__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 19px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    margin-top: 41px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promo-block__image {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 236px;
    left: -2px;
    z-index: -1;
    width: 87%;
  }

  @media (min-width: @desktop-width) {
    right: 378px;
    left: auto;
    top: 22px;
    width: 40%;
  }
}

.promo-block__button {
  @media (min-width: @tablet-width) {
    width: 245px;
    margin-left: 70px;
    padding: 16px 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 38px;
  }
}
