.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
}

.social__link:hover,
.social__link:focus {
  fill: #68b738;
}

.social__link:active {
  opacity: 0.3;
}
