.special-offer {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 39px 20px;
}

.special-offer__icon {
  width: 56px;
  height: 61px;
  padding-top: 65px;
}

.special-offer__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
